<html>
    <head>
        <title>Ethan in Django: game ID {{game_id}}</title>
    </head>
    <body>
        {% if end_msg %}
        <h1><div id="end_msg">{{end_msg}}</div></h1>
        {% endif %}
        <h1>ETHAN: <div style="display: inline-block;" id="ethan_count">{{ethan_count}}</div> chips</h1>
        <p>
        <h1>DICE: [<div style="display: inline-block;" id="die1">{{die1}}</div>] [<div style="display: inline-block;" id="die2">{{die2}}</div>]</h1>
        <p>
        {% if not end_msg %}
        <h2>player {{player_turn}} rolls next.</h2>
        {% endif %}
        <form method="POST">
            {% for x in players %} 
            <b>Player #{{x.num}}: </b>
            <input id=player{{x.num}} name=player{{x.num}} value="{{x.name}}" {% if end_msg %}disabled{% endif %} />
            <b> SCORE - <div style="display: inline-block;" id="score{{x.num}}">{{x.score}}</div></b>
            <br> 
            {% endfor %}
            <p>
            <input type="submit" value="Roll the dice!" {% if end_msg %}disabled{% endif %} />
            {% csrf_token %}
        </form>
        {% if end_msg %}
        <form method="GET" action="/">
            <input type="submit" value="start a new game?" />
        </form>
        {% endif %}
        <p>
        <div id="turn_text">
        {% for x in turns %}
        {{x}} <br> 
        {% endfor %}
        </div>
    </body>
</html>
