<html>
    <head>
        <title>Ethan in Django: game ID {{game_id}}</title>
    </head>
    <body>
        {% if end_msg %}
        <h1>{{end_msg}}</h1>
        {% endif %}
        <h1>ETHAN: {{ethan_count}} chips</h1>
        <p>
        <h1>DICE: [{{die1}}] [{{die2}}]</h1>
        <p>
        <form method="POST">
            {% for x in players %} 
            <b>{{x.num}}: </b>
            <input name=player{{x.num}} placeholder="{{x.name}}" />
            <p> 
            {% endfor %}
            <input type="submit" value="Roll the dice!" />
            {% csrf_token %}
        </form>
        <p>
        {% for x in turns %}
        {{x}} <br> 
        {% endfor %}
    </body>
</html>
